
body {
  background-color: #f0f8ff; 
  font-family: Verdana, sans-serif;
  margin: 20px;
  line-height: 1.6;
}


header {
  text-align: center;
  background-color: #e6f2ff;
  padding: 15px;
  border-bottom: 2px solid #99c2ff;
}

h1 {
  color: navy;
}

header p {
  color: #333;
  font-size: 18px;
}

article {
  max-width: 700px;
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

figure {
  border: 2px solid #ccc;
  background-color: #fafafa;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
}

figcaption {
  font-style: italic;
  color: #555;
  margin-top: 5px;
}
